#user-title {
  color: white;
  margin-right: 30px;
}

.in-line {
  display: inline-block;
}

.modal-spinner {
  margin-top: -20px;
}

.row {
  margin-top:70px;
}

.spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

#login-card {
  max-width: 400px;
  margin: 0 auto;
}